// _variables.scss
$primary: #4b3832; // Contoh warna custom untuk primary
$success: #28a745; // Contoh warna custom untuk success

// Tambahkan warna custom lainnya jika diperlukan
$my-custom-color: #abcdef;
$info: #fff4e6;
$secondary: #854442;
$warning: #be9b7b;
$danger: #4b3832;
